.orderTicket {
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.orderTicket__body {
    display: flex;
    flex-direction: row;
}

.orderTicket__title {
    margin-bottom: 25px;
}

.orderTicket__info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.orderTicket__orderButton {
    margin: auto 0 0 auto;
    width: 150px;
}
