.adminScreen {
    min-height: calc(100vh - 64px);
}

.adminScreen__content {
    padding: 50px;
    background: #fff;
}

.adminHeader {
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 1000;
}

.adminHeader__title {
    color: #000;
}

.adminHeader__avatar {
    margin: auto 0 auto auto;
    cursor: pointer;
}

.adminHeader__accountMenu {
    width: 120px;
}
