.adminScreen {
    height: calc(100vh - 64px);
}

.adminHeader {
    display: flex;
    flex-direction: row;
}

.adminHeader__title {
    color: #fff;
}

.adminHeader__avatar {
    margin: auto 0 auto auto;
    cursor: pointer;
}

.adminHeader__accountMenu {
    width: 120px;
}
