.userHeader {
    display: flex;
    flex-direction: row;
    background: #fff;
    z-index: 1000;
    padding: 0;
}

.userHeader__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userHeader__logoIcon {
    width: 64px;
}

.userHeader__logoTitle {
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0 15px 0 0;
    font-size: 24px;
    color: #f55c51;
}

.userHeader__content {
    display: flex;
    flex-direction: row;
    margin: auto auto auto 25px;
    justify-content: center;
}

.userHeader__citySelect {
    margin-right: 25px;
}

.userHeader__citySelectIcon {
    font-size: 18px;
    color: #f55c51;
}

.userHeader__citySelector {
    min-width: 80px;
}

.userHeader__userGreetings {
    margin: 0 15px 0 0;
}

.userHeader__accountAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userHeader__accountIcon {
    color: #f55c51;
    background: #fff;
    cursor: pointer;
}

.userHeader__accountMenu {
    width: 120px;
}
