.userScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.userScreen__container {
    width: 100%;
    max-width: 80rem;
    box-shadow: 0 0 0.625rem 0.0625rem rgb(0 0 0 / 10%);
    padding: 1.25rem 1.5rem;
    background: #1f1f1f;
}

.userScreen__content {
    min-height: calc(100vh - 110px);
}

.userScreen__footer {
    padding: 12px 25px;
    background: #1f1f1f;
}

.userScreen__footerDivider {
    margin: 12px 0;
}

.userScreen__footerText {
    font-size: 12px;
    margin: 0;
}
